:root {
    --allbackground: #ebecf0;
    --table-background: #ffffff;
    --table-primary: #101824;
    --table-odd-row: #f6f9ff;
    --table-gray: #a0a7b1;
    --table-gray-background: #edeef1;
    --table-gray-mid: #f1f2f6;
}


/* Price Theme Table */
table {
    caption-side: bottom;
    border-collapse: collapse;
}

.table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-emphasis-color);
    --bs-table-bg: var(--bs-body-bg);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.02);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
    width: 100%;
    margin-bottom: 1.2rem;
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}
.table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    color: var(
        --bs-table-color-state,
        var(--bs-table-color-type, var(--bs-table-color))
    );
    background-color: var(--bs-table-bg);
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px
        var(
            --bs-table-bg-state,
            var(--bs-table-bg-type, var(--bs-table-accent-bg))
        );
}
.table > tbody {
    vertical-align: inherit;
}
.table > thead {
    vertical-align: bottom;
}
.table-group-divider {
    border-top: calc(var(--bs-border-width) * 2) solid currentcolor;
}
.caption-top {
    caption-side: top;
}
.table-sm > :not(caption) > * > * {
    padding: 0.25rem 0.25rem;
}
.table-bordered > :not(caption) > * {
    border-width: var(--bs-border-width) 0;
}
.table-bordered > :not(caption) > * > * {
    border-width: 0 var(--bs-border-width);
}
.table-borderless > :not(caption) > * > * {
    border-bottom-width: 0;
}
.table-borderless > :not(:first-child) {
    border-top-width: 0;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-color-type: var(--bs-table-striped-color);
    --bs-table-bg-type: var(--bs-table-striped-bg);
}
.table-striped-columns > :not(caption) > tr > :nth-child(even) {
    --bs-table-color-type: var(--bs-table-striped-color);
    --bs-table-bg-type: var(--bs-table-striped-bg);
}
.table-active {
    --bs-table-color-state: var(--bs-table-active-color);
    --bs-table-bg-state: var(--bs-table-active-bg);
}
.table-hover > tbody > tr:hover > * {
    --bs-table-color-state: var(--bs-table-hover-color);
    --bs-table-bg-state: var(--bs-table-hover-bg);
}
.table-primary {
    --bs-table-color: #000;
    --bs-table-bg: #dde4fc;
    --bs-table-border-color: #b1b6ca;
    --bs-table-striped-bg: #d9dff7;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #d2d9ef;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #d2d9ef;
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}
.table-secondary {
    --bs-table-color: #000;
    --bs-table-bg: #e8ddf6;
    --bs-table-border-color: #bab1c5;
    --bs-table-striped-bg: #e3d9f1;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #dcd2ea;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #dcd2ea;
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}
.table-success {
    --bs-table-color: #000;
    --bs-table-bg: #d4eee7;
    --bs-table-border-color: #aabeb9;
    --bs-table-striped-bg: #d0e9e2;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #c9e2db;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #c9e2db;
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}
.table-info {
    --bs-table-color: #000;
    --bs-table-bg: #e0f1fa;
    --bs-table-border-color: #b3c1c8;
    --bs-table-striped-bg: #dcecf5;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #d5e5ee;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #d5e5ee;
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}
.table-warning {
    --bs-table-color: #000;
    --bs-table-bg: #fbebde;
    --bs-table-border-color: #c9bcb2;
    --bs-table-striped-bg: #f6e6da;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #eedfd3;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #eedfd3;
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}
.table-danger {
    --bs-table-color: #000;
    --bs-table-bg: #fbe6e9;
    --bs-table-border-color: #c9b8ba;
    --bs-table-striped-bg: #f6e1e4;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #eedbdd;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #eedbdd;
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}
.table-light {
    --bs-table-color: #000;
    --bs-table-bg: #f0f4f7;
    --bs-table-border-color: #c0c3c6;
    --bs-table-striped-bg: #ebeff2;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #e4e8eb;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #e4e8eb;
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}
.table-dark {
    --bs-table-color: #fff;
    --bs-table-bg: #4a5a6b;
    --bs-table-border-color: #6e7b89;
    --bs-table-striped-bg: #4e5d6e;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #536272;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #536272;
    --bs-table-hover-color: #fff;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}



.table-traffic td {
    font-weight: 400;
    vertical-align: middle;
    font-size: 14px;
    padding: 11px 11px;
}
.table-traffic thead th {
    padding: 11px 11px;
    background-color: #f0f4f7;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
}
.table-traffic tbody tr:last-child td {
    border-bottom: none;
}
.table-traffic tr td:first-child,
.table-traffic tr th:first-child {
    padding-left: 1.25rem;
}
.table-traffic tr td:last-child,
.table-traffic tr th:last-child {
    padding-right: 1.25rem;
}

@media (max-width: 575.98px) {
    .table-responsive-sm {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
@media (max-width: 767.98px) {
    .table-responsive-md {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
@media (max-width: 991.98px) {
    .table-responsive-lg {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
@media (max-width: 1199.98px) {
    .table-responsive-xl {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
@media (max-width: 1399.98px) {
    .table-responsive-xxl {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

/* Price table theme */